Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
json5==0.9.5
jupyter==1.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
MarkupSafe==1.1.1
matplotlib @ file:\\\C:\ci\matplotlib-base_1592837548929\work
notebook==6.0.3
numpy==1.18.5
packaging==20.4
pandas @ file:///C:/ci/pandas_1592833613419/work
scikit-learn @ file:///C:/ci/scikit-learn_1592853510272/work
seaborn==0.10.1
TPOT @ file:///home/conda/feedstock_root/build_artifacts/tpot_1605140412645/work
Werkzeug==1.0.1